body
{
	margin: 0;
	margin: 0;
	font-family: sans-serif;
	background-image: url(bca3.jpg);
     background-size: cover;
     background-position: center;
}

.login 
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1.0);

	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;

/*	background-image: url(bca1.jpg);*/
}

.login h1
{

	color: #1c8adb;
	margin-bottom: 30px;
}
.input-box
{

	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	width: 90%;
 border: 1px solid #999;
 outline: none;
}
